<a href="https://colab.research.google.com/github/harshavanga/Data690-StatsANDVisualization/blob/main/Assignment%205/Part_7_Harsha.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
filepath = '/content/btc-market-price.csv'

with open(filepath, 'r') as reader:
    for index, line in enumerate(reader.readlines()):
        # read just the first 10 lines
        if (index < 10):
            print(index, line)

0 2/4/17 0:00,1099.169125

1 3/4/17 0:00,1141.813

2 4/4/17 0:00,?

3 5/4/17 0:00,1133.079314

4 6/4/17 0:00,-

5 7/4/17 0:00,-

6 8/4/17 0:00,1181.149838

7 9/4/17 0:00,1208.8005

8 10/4/17 0:00,1207.744875

9 11/4/17 0:00,1226.617038

In [ ]:
df = pd.read_csv('btc-market-price.csv')

df.head()

   2/4/17 0:00  1099.169125
0  3/4/17 0:00     1141.813
1  4/4/17 0:00            ?
2  5/4/17 0:00  1133.079314
3  6/4/17 0:00            -
4  7/4/17 0:00            -

header parameter

In [ ]:
df = pd.read_csv('btc-market-price.csv',
                 header=None)

In [ ]:
df.head()

             0            1
0  2/4/17 0:00  1099.169125
1  3/4/17 0:00     1141.813
2  4/4/17 0:00            ?
3  5/4/17 0:00  1133.079314
4  6/4/17 0:00            -

column names using names parameter

In [ ]:
df = pd.read_csv('btc-market-price.csv',
                 header=None,
                 na_values=['', '?', '-'],
                 names=['Timestamp', 'Price'])
df.head()

     Timestamp        Price
0  2/4/17 0:00  1099.169125
1  3/4/17 0:00  1141.813000
2  4/4/17 0:00          NaN
3  5/4/17 0:00  1133.079314
4  6/4/17 0:00          NaN

Using Dtype Parameter

In [ ]:
df = pd.read_csv('btc-market-price.csv',
                 header=None,
                 na_values=['', '?', '-'],
                 names=['Timestamp', 'Price'],
                 dtype={'Price': 'float'})

In [ ]:
df.head()

     Timestamp        Price
0  2/4/17 0:00  1099.169125
1  3/4/17 0:00  1141.813000
2  4/4/17 0:00          NaN
3  5/4/17 0:00  1133.079314
4  6/4/17 0:00          NaN

In [ ]:
df.dtypes

Timestamp     object
Price        float64
dtype: object

In [ ]:
pd.to_datetime(df['Timestamp']).head()

0   2017-02-04
1   2017-03-04
2   2017-04-04
3   2017-05-04
4   2017-06-04
Name: Timestamp, dtype: datetime64[ns]

In [ ]:
df['Timestamp'] = pd.to_datetime(df['Timestamp'])

In [ ]:
df.head()

   Timestamp        Price
0 2017-02-04  1099.169125
1 2017-03-04  1141.813000
2 2017-04-04          NaN
3 2017-05-04  1133.079314
4 2017-06-04          NaN

In [ ]:
df.dtypes

Timestamp    datetime64[ns]
Price               float64
dtype: object

Using parse_dates parameter

In [ ]:
df = pd.read_csv('btc-market-price.csv',
                 header=None,
                 na_values=['', '?', '-'],
                 names=['Timestamp', 'Price'],
                 dtype={'Price': 'float'},
                 parse_dates=[0])

In [ ]:
df.head()

   Timestamp        Price
0 2017-02-04  1099.169125
1 2017-03-04  1141.813000
2 2017-04-04          NaN
3 2017-05-04  1133.079314
4 2017-06-04          NaN

In [ ]:
df.dtypes

Timestamp    datetime64[ns]
Price               float64
dtype: object

index_col parameter

In [ ]:
df = pd.read_csv('btc-market-price.csv',
                 header=None,
                 na_values=['', '?', '-'],
                 names=['Timestamp', 'Price'],
                 dtype={'Price': 'float'},
                 parse_dates=[0],
                 index_col=[0])

In [ ]:
df.head()

                  Price
Timestamp
2017-02-04  1099.169125
2017-03-04  1141.813000
2017-04-04          NaN
2017-05-04  1133.079314
2017-06-04          NaN

In [ ]:
df.dtypes

Price    float64
dtype: object

In [ ]:
exam_df = pd.read_csv('/content/exam_review.csv')

In [ ]:
exam_df

                               first_name>last_name>age>math_score>french_score
Ray>Morley>18>"68     000">"75                                             000"
Melvin>Scott>24>77>83 NaN                                                   NaN
Amirah>Haley>22>92>67 NaN                                                   NaN
Gerard>Mills>19>"78   000">72                                               NaN
Amy>Grimes>23>91>81   NaN                                                   NaN

Using sep parameter

In [ ]:
exam_df = pd.read_csv('exam_review.csv',
                      sep='>')

In [ ]:
exam_df

  first_name last_name  age math_score french_score
0        Ray    Morley   18     68,000       75,000
1     Melvin     Scott   24         77           83
2     Amirah     Haley   22         92           67
3     Gerard     Mills   19     78,000           72
4        Amy    Grimes   23         91           81

In [ ]:
exam_df[['math_score', 'french_score']].dtypes

math_score      object
french_score    object
dtype: object

In [ ]:
exam_df = pd.read_csv('exam_review.csv',
                      sep='>',
                      decimal=',')

In [ ]:

exam_df[['math_score', 'french_score']].dtypes

math_score      float64
french_score    float64
dtype: object

Excluding rows

In [ ]:
exam_df = pd.read_csv('exam_review.csv',
                      sep='>',
                      decimal=',')

In [ ]:
exam_df

  first_name last_name  age  math_score  french_score
0        Ray    Morley   18        68.0          75.0
1     Melvin     Scott   24        77.0          83.0
2     Amirah     Haley   22        92.0          67.0
3     Gerard     Mills   19        78.0          72.0
4        Amy    Grimes   23        91.0          81.0

In [ ]:
pd.read_csv('exam_review.csv',
            sep='>',
            skiprows=2)

   Melvin   Scott  24      77  83
0  Amirah   Haley  22      92  67
1  Gerard   Mills  19  78,000  72
2     Amy  Grimes  23      91  81

In [ ]:
exam_df = pd.read_csv('exam_review.csv',
                      sep='>',
                      decimal=',',
                      skiprows=[1,3])

In [ ]:
exam_df

  first_name last_name  age  math_score  french_score
0     Melvin     Scott   24        77.0            83
1     Gerard     Mills   19        78.0            72
2        Amy    Grimes   23        91.0            81

let us save it to a csv file

In [ ]:
exam_df

  first_name last_name  age  math_score  french_score
0     Melvin     Scott   24        77.0            83
1     Gerard     Mills   19        78.0            72
2        Amy    Grimes   23        91.0            81

In [ ]:
exam_df.to_csv()

',first_name,last_name,age,math_score,french_score\n0,Melvin,Scott,24,77.0,83\n1,Gerard,Mills,19,78.0,72\n2,Amy,Grimes,23,91.0,81\n'

In [ ]:
exam_df.to_csv('out.csv')

In [ ]:
pd.read_csv('out.csv')

   Unnamed: 0 first_name last_name  age  math_score  french_score
0           0     Melvin     Scott   24        77.0            83
1           1     Gerard     Mills   19        78.0            72
2           2        Amy    Grimes   23        91.0            81

In [ ]:
exam_df.to_csv('out.csv',
               index=None)

In [ ]:
pd.read_csv('out.csv')

  first_name last_name  age  math_score  french_score
0     Melvin     Scott   24        77.0            83
1     Gerard     Mills   19        78.0            72
2        Amy    Grimes   23        91.0            81